{% extends 'base.html' %}

{% block content %}
    <div>
        <a href="https://richzhang.github.io/colorization/" target="_blank">
            <button class="link">Link</button>
        </a>
    </div>
    <img src="{{ url_for('static', filename='assets/image.png' )}}" alt="bw/c" height="400vh">
    <div>
        <a href="/result">
            <button class="upload">Upload</button>
        </a>
    </div>
    <div class="instructions">The image must be in .jpg, .jpeg or .png format.</div>
{% endblock %}
